/* Общие стили */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    color: #ffffff;
    scroll-behavior: smooth;
    background-image: url('/assets/welcome-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-x: hidden;
}

/* Контейнер главной страницы */
.home-container {
    width: 100%;
    padding: 20px;
}

/* Заголовок */
.home-container h4 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #ffd700;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5),
        -3px -3px 10px rgba(0, 0, 0, 0.7);
    margin: 40px 0;
    letter-spacing: 2px;
    font-variant: small-caps;
}

/* Используем Bootstrap для адаптивности */
.container {
    max-width: 1200px;
    /* Центрирование контента */
}

.tokenomics-heading {
    font-family: 'Montserrat', sans-serif;
    /* Используем Montserrat */
    font-size: 2rem;
    color: #ffcc00;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3), 0 0 15px rgba(255, 204, 0, 0.4);
    padding: 10px 20px;
    background: linear-gradient(45deg, #ffcc00, #ff6600);
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}

.tokenomics-heading:hover {
    transform: scale(1.05);
    color: #ffcc00;
}