/* Общие стили */
body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #101010;
    color: #ffffff;
    scroll-behavior: smooth;
    background-image: url('/assets/welcome-bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

/* Контейнер главной страницы */
.home-container {
    width: 100%;
    padding: 20px;
}

/* Заголовок */
.home-container h4 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #ffd700;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.5),
        -3px -3px 10px rgba(0, 0, 0, 0.7);
    margin: 40px 0;
    letter-spacing: 2px;
    font-variant: small-caps;
}

/* Используем Bootstrap для адаптивности */
.container {
    max-width: 1200px;
    /* Центрирование контента */
}