/* Стили для всего навигационного бара */
.navbar {
    background-color: #1a1a1a;
    /* Чёрный фон */
    padding: 10px 20px;
    /* Отступы внутри навбара */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    /* Легкая тень для навбара */
}

.navbar .navbar-brand {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
    /* Золотистый цвет для логотипа */
    text-transform: uppercase;
    margin-right: auto;
    /* Логотип слева */
    transition: color 0.3s ease;
    padding-left: 10px;
    /* Отступ слева */
}

.navbar .navbar-brand:hover {
    color: #FFD700;
    /* Изменение цвета логотипа при наведении */
}

.navbar .navbar-brand:focus {
    outline: none;
    /* Убираем обводку при фокусе */
}

/* Стили для кнопок на навбаре */
/* Стили для кнопок на навбаре */
.navbar button {
    background-color: #000;
    /* Чёрный фон */
    color: #fff;
    /* Белый текст */
    border: 2px solid #fff;
    /* Белая граница */
    border-radius: 20px;
    /* Увеличиваем радиус скругления углов */
    padding: 10px 15px;
    /* Увеличиваем отступы внутри кнопки */
    font-size: 15px;
    /* Увеличиваем размер шрифта */
    font-weight: bold;
    /* Делаем текст жирным */
    transition: all 0.3s ease;
    /* Плавный переход */
}

.navbar button:hover {
    background-color: #fff;
    /* Белый фон при наведении */
    color: #000;
    /* Чёрный текст при наведении */
    border-color: #000;
    /* Чёрная граница при наведении */
}

.navbar button:focus {
    outline: none;
    /* Убираем обводку при фокусе */
}

/* Стили для мобильной версии */
@media (max-width: 767px) {
    .navbar {
        padding: 10px;
        /* Уменьшаем отступы для мобильной версии */
    }

    .navbar .navbar-brand {
        font-size: 20px;
        /* Уменьшаем размер шрифта для логотипа */
    }
}