/* Приветственный блок */
.welcome-section {
    text-align: center;
    padding: 60px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    z-index: 10;
    position: relative;
    height: 80vh;
    transform: translateY(-20vh);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
}

/* Псевдоэлемент для виньетки */
.welcome-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    /* Псевдоэлемент будет под содержимым */
}

/* Заголовок */
.welcome-section h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
}

/* Описание и кнопка */
.welcome-section p {
    font-size: 1.9rem;
    margin-bottom: 30px;
    line-height: 1.6;
    text-shadow: 10px 10px 40px rgba(0, 0, 0, 1),
        -10px -10px 40px rgba(0, 0, 0, 1),
        0px 0px 50px rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1px #000;
    font-weight: bold;
}

/* Кнопка */
.scroll-button {
    background-color: #545152;
    border: 2px solid #fff;
    color: white;
    padding: 15px 30px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.scroll-button:hover {
    background-color: white;
    color: #1a1a1a;
    transform: scale(1.1);
}

/* Мобильная адаптивность */
@media (max-width: 768px) {
    .welcome-section {
        padding: 40px 15px;
        height: auto;
        /* Убираем фиксированную высоту */
        transform: translateY(0);
        /* Убираем трансформацию для лучшего отображения */
    }

    .welcome-section h1 {
        font-size: 2.5rem;
        /* Уменьшаем размер заголовка */
        margin-bottom: 15px;
    }

    .welcome-section p {
        font-size: 1.2rem;
        /* Уменьшаем размер текста */
        margin-bottom: 20px;
    }

    .scroll-button {
        padding: 12px 25px;
        font-size: 1rem;
        /* Уменьшаем размер шрифта кнопки */
    }
}