/* src/index.css */

/* Стили для body */
body {
  background-color: #1a1a1a;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
  padding-top: 100px;
}

/* Центрирование контента на странице */
#root {
  width: 100%;
  text-align: center;
  padding: 20px;
}